@model Saobracaj.Models.Kazna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kazna</h4>
    <hr />
    <dl class="dl-horizontal" >
        <div style='background:white; width:40%; color:darkslategray; font-size:20px;'>
        Na dan @Html.DisplayFor(model => model.Datum) osoba sa jedinstvenim maticnim brojem: 
            @Html.DisplayFor(model => model.naLice.JMBG) je pocinila prekrsaj: 
            @Html.DisplayFor(model => model.Opis) sa vozilom registarskih tablica: @Html.DisplayFor(model => model.naVozilo.BrojTablice) i 
            stoga se kaznjava novcanim iznosom od: @Html.DisplayFor(model => model.Iznos) koji je potrebno uplatiti u roku od 14 dana.
      
    </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KaznaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
